<%- include(`partials/header`) %>



    <% for(var i=0; i<arr.length; i++){%>

        <h1>
            <%= arr[i].title %>
        </h1>
        <p>
            <%= arr[i].postMessage.substring(0,6)%> <a href=<%=arr[i].title %> > ... </a>
        </p>

        <%}%>





            <%- include(`partials/footer`) %>